body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 500px;
    height: 500px;
    margin: 5px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 1rem;
}
.card div {
    display: inline-block;
}
.card div:last-child img, .card div:last-child h4 {
    display: inline-block;
}

.card div:first-child img {
    margin-left: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

ol {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}


/* KAU Styles */
.kau ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19786D;
}
.kau li {
    float: left;
}
.kau li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #19786D;
}
.kau li a:hover {
    background-color: #19788F;
}

.kau li a.active:hover {
    background-color: #197820;
}

.kau .active {
    background-color: #19783E;
}

.kau h1 {
    color: #19783E;
}

/* KFUPM Styles */
.kfupm ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #22655C;
}
.kfupm li {
    float: left;
}
.kfupm li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #22655C;
}
.kfupm li a:hover {
    background-color: #226548;
}
.kfupm .active:hover {
    background-color: #CCAE55;
}
.kfupm .active {
    background-color: #CCAE6D;
}
.kfupm h1 {
    color: #22655C;
}
.kfupm h4 {
    margin: 5px 0;
}
.kfupm p {
    max-width: 1000px;
}

/* KAUST Styling */
.kaust ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9B62D;
}
.kaust li {
    float: left;
}
.kaust li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #E9B62D;
}
.kaust li a:hover {
    background-color: #E9B657;
}
.kaust .active:hover {
    background-color: #bcca2a;
}
.kaust .active {
    background-color: #bcca10;
}
.kaust h1 {
    color: #E9B62D;
}

.kaust h4, .kaust h2 {
    max-width: 1000px;
}

.kaust h3 {
    margin: 0;
}

.kaust h2 {
    margin-bottom: 7px;
}
